@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #5476A4;
  --color-secondary: #C4AC92;
  --color-dark-bg: #5476a4;
}

body {
  @apply bg-neutral-100 text-dark-bg font-sans antialiased;
}

.slide-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
